<!DOCTYPE html>
<html>
<head>
    <title>Wysyłka maili</title>
</head>
<body>

<form method="POST" action="/emails">
    <h1>Wyślij maila z linkiem do ankiety do członków</h1>
    <h2>Lista emaili </h2>
    <textarea style="width: 100%; height: 200px" name="emails"></textarea>

    <h2>Wiadomość</h2>
    <textarea style="width: 100%; height: 200px" name="message">
Drodzy członkowie!

Poniżej znajdziecie link do ankiety MJN:
    </textarea>
    <button type="submit">Wyślij!</button>
</form>
</body>
</html>
