<!DOCTYPE html>
<html>
<head>
    <title>Wysyłka maili</title>
</head>
<body>

<h2>Wysłano email z linkami do ankiety następujących adresów:</h2>
<p>(Wszystkie poprzednie tokeny zostały unieważnione)</p>
{{#each emails}}
    <div>{{.}}</div>
{{/each}}

</body>
</html>
